#hero {
  background-image: url(orangerings2.jpg);
  background-size: cover;
  background-position: center bottom;
  height: 600px;
}

#secondary-background {
  background-image: url(secondarybackground.jpg);
  background-size: cover;
  background-position: center;
  
}

.container {
  max-width: 1200px;
}


.blockquote {
  max-width: 100%;
  
  padding: 25px;
  border: 1px solid #5d6362ec;
  box-sizing: border-box;
  background-color: lightgrey;
  
}

.blockquote--border {
  border-left-width: 10px;

}

.projects-container {
  margin-top: 55px;
  margin-bottom: 55px;
}

.project-img {
  background-position: center;
}

.navbar-alignment {
  vertical-align: bottom;
}

.nav-item {
  font-size: 18px;
}

.button-layout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 75px auto;

}